@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body {
  background-color: bisque;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

header {

  border-bottom: 3px solid black;

}

.header {
  display: flex;
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

h1 {
  float: inline-start;
  margin-left: 50px;
  margin-top: 50px;
  color: black
}

nav {
  border-bottom: 3px solid black;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 25px;
  margin-left: -44px;
  color: black;
}

a.link:visited {
  /* Цвет посещённой ссылки */
  color: black;
}

ul.menu li {
  display: inline-block;
}

.maininfo {
  margin-left: 25px;
}

.mainlist li {
  margin-bottom: 10px;
  color: black;
}

.mainlink {
  color: black;
}

a.mainlink:visited {
  /* Цвет посещённой ссылки */
  color: black;
}