*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.menu__inner{
    margin: 25px 0;
    display: flex;
    justify-content: space-between; /* равномерно распределить объекты */
    align-items: center /* выравнивание по вертикале*/;
}

.nav{
    display: flex;
    list-style: none; /* убираем маркеры у списка */
    padding: 0;
    margin: 0;
    

}

.nav li a{
    text-transform: uppercase; /* всё заглавными буквами */
    color: #999;
    text-decoration: none;
    padding: 10px 20px;
}

.nav li a:hover{
    background-color: orange;
    color: white;
    border-radius: 5px;
    
}

.hw{
    border: solid 1px red;
    width: 1170px;
    margin: 0 auto;
}
.hw_back{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background-color: #042738;   
}
.hw_obj{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hw_num{
  font-size: 35px;
  color: #863f05;
  font-weight: bold;

}
.hw_text{
    font-size:20px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
}